<a href="https://colab.research.google.com/github/superizqi/simple_flask/blob/master/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('diabetes.csv')

In [ ]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
x = df.drop('Outcome', axis=1)
y = df['Outcome']

In [ ]:
# Set Training and Testing Data (70:30)
from sklearn.model_selection import train_test_split, cross_val_score
x_train, x_test, y_train, y_test  = train_test_split(x , y, shuffle = True, test_size=0.3, random_state=1)

# Show the Training and Testing Data
print(f"""{x_train.shape}  \n{x_test.shape}  \n{y_train.shape}  \n{y_test.shape} """)

(537, 8)
(231, 8)
(537,)
(231,)

In [ ]:
list_model = []
list_acc = []
list_precision = []
list_recall = []

def evaluation(m):
    model = m
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    acc = round(metrics.accuracy_score(y_test, y_pred),2)
    prec = round(metrics.precision_score(y_test, y_pred),2)
    recall = round(metrics.recall_score(y_test, y_pred),2)
    list_model.append(str(model).split('(')[0])
    list_acc.append(acc)
    list_precision.append(prec)
    list_recall.append(recall)
    print(f"""Accuracy : {acc} \nPrecision : {prec} \nRecall : {recall}""")

In [ ]:
from sklearn.svm import SVC
from sklearn import metrics
evaluation(SVC())

Accuracy : 0.77
Precision : 0.83
Recall : 0.47

In [ ]:
  from sklearn.neighbors import KNeighborsClassifier
  evaluation(KNeighborsClassifier(n_neighbors=7))

Accuracy : 0.76
Precision : 0.72
Recall : 0.58

In [ ]:
from sklearn import tree
evaluation(tree.DecisionTreeClassifier(min_impurity_decrease=0.01))

Accuracy : 0.77
Precision : 0.69
Recall : 0.69

In [ ]:
from sklearn.naive_bayes import GaussianNB 
evaluation(GaussianNB())

Accuracy : 0.78
Precision : 0.75
Recall : 0.62

In [ ]:
from sklearn.ensemble import RandomForestClassifier
evaluation(RandomForestClassifier(max_depth=2, random_state=0))

Accuracy : 0.77
Precision : 0.88
Recall : 0.42

In [ ]:
df_summary = pd.DataFrame({'Algoritma' : list_model, 'Accuracy' : list_acc, 'Precision' : list_precision, 'Recall' : list_recall})
df_summary.sort_values(by='Accuracy',ascending=False)

                Algoritma  Accuracy  Precision  Recall
3              GaussianNB      0.78       0.75    0.62
0                     SVC      0.77       0.83    0.47
2  DecisionTreeClassifier      0.77       0.69    0.69
4  RandomForestClassifier      0.77       0.88    0.42
1    KNeighborsClassifier      0.76       0.72    0.58

In [ ]:
from sklearn.model_selection import GridSearchCV
dtc = tree.DecisionTreeClassifier()
criterion = ('gini', 'entropy')
splitter = ('best', 'random')
max_features = ('auto','sqrt','log2')
max_depth = [2,4,6,8,10,12]
params = {
    'criterion' : criterion,
    'splitter' : splitter,
    'max_features' : max_features,
    'max_depth' : max_depth
    
}

In [ ]:
gsdtc = GridSearchCV(dtc, params, n_jobs=4, cv=5)
gsdtc.fit(x, y)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=4,
             param_grid={'criterion': ('gini', 'entropy'),
                         'max_depth': [2, 4, 6, 8, 10, 12],
                         'max_features': ('auto', 'sqrt', 'log2'),
                         'splitter': ('best', 'random')},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
model = tree.DecisionTreeClassifier(**gsdtc.best_params_)
model.fit(x,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features='log2', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model = KNeighborsClassifier(n_neighbors=7)
model.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [ ]:
# model.predict(x.loc[1:3])

array([0, 1, 0])

In [ ]:
x.loc[0]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Name: 0, dtype: float64

In [ ]:
model.predict(x[0:10])

array([0, 0, 1, 0, 1, 0, 0, 0, 1, 0])

In [ ]:
x[0:10]

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33
5            5      116             74  ...  25.6                     0.201   30
6            3       78             50  ...  31.0                     0.248   26
7           10      115              0  ...  35.3                     0.134   29
8            2      197             70  ...  30.5                     0.158   53
9            8      125             96  ...   0.0                     0.232   54

[10 rows x 8 columns]

In [ ]:
for i in x.loc[0]:
  print(i)

6.0
148.0
72.0
35.0
0.0
33.6
0.627
50.0

In [ ]:
print